{% load i18n static %}{% spaceless %}
{% with full_page_url=SITE.web_url|add:page_url %}
    {% blocktrans with title=page_title asvar mailto_subject %}UNESCO news: {{ title }}{% endblocktrans %}
    {% blocktrans with title=page_title|safe url=full_page_url asvar shared_sentence %}UNESCO news: {{ title }} {{ url }}{% endblocktrans %}

    <!-- New twitter icon -->
    <svg
        style="position: absolute; width: 0; height: 0;"
        width="0"
        height="0"
        version="1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        >
        <defs>
            <symbol id="icon-twitter-x" viewBox="0 0 72 72">
                <path d="M42.5,31.2L66,6h-6L39.8,27.6L24,6H4l24.6,33.6L4,66
                    h6l21.3-22.8L48,66h20L42.5,31.2z M12.9,10h8l38.1,52h-8L12.9,10z">
            </symbol>
        </defs>
    </svg>


    <div class="social-network-badges">
        <a
            href="https://www.facebook.com/unesco/"
            class="social-network-badges__item"
            target="_blank"
            title="{% trans "Share on Facebook" %}"
        >
            <svg role="img">
                <use xlink:href="#icon-facebook" />
            </svg>
        </a>
        <a
            href="https://twitter.com/UNESCO"
            class="social-network-badges__item"
            target="_blank"
            title="{% trans "Share on Twitter" %}"
        >
            <svg role="img">
                <use xlink:href="#icon-twitter-x" />
            </svg>
        </a>
        <a
            href="https://www.linkedin.com/company/unesco/"
            class="social-network-badges__item"
            target="_blank"
            title="{% trans "Share on Linkedin" %}"
        >
            <svg role="img">
                <use xlink:href="#icon-linkedin" />
            </svg>
        </a>
        <a
            href="mailto:?subject={{ mailto_subject|urlencode }}&amp;body={{ full_page_url|urlencode }}"
            class="social-network-badges__item"
            target="_blank"
            title="{% trans "Share by Email" %}"
        >
            <svg role="img">
                <use xlink:href="#icon-envelope" />
            </svg>
        </a>
    </div>
{% endwith %}
{% endspaceless %}
